{% extends 'tcc/base.html' %}

{% block head %}
	{% for trend in trends %}<title>Trend de {{ dict.as_of }} | Shift</title>{% endfor %}
	<!-- Mapa do Google precisa ser interno -->
	<style>
	body
	{
		font-family: verdana;
		background-color: rgb(224,224,224, 255);
		/*rgb(59,50,81,255)*/
	}

	b
	{
		color: rgb(29,161,242,255);
	}

	img.profilepic
	{
  	border-radius: 50%;
	}

	font.arroba,a:link.arroba,a:visited.arroba
	{
		color: grey;
	}
	
	#map {
		height: 350px;
		width: 100%;
	}
	
	.mapboxgl-popup {
		max-width: 400px;
		font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	}
		
	#menu {
		position: absolute;
		background: #fff;
		padding: 10px;
		font-family: 'Open Sans', sans-serif;
	}
	</style>
{% endblock %}

{% block body %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'tcc:search' %}">Pesquisa</a></li>
			<li class="breadcrumb-item"><a href="{% url 'tcc:collect_multiple_trends' %}">Trends</a></li>
			<li class="breadcrumb-item active" aria-current="page">Trend - {{ query }}</li>
		</ol>
	</nav>
	{% if trends %}
		<div id="map"></div>
		
		<div id='menu'>
			<input id='basic' type='radio' name='rtoggle' value='basic' checked='checked'>
			<label for='basic'>Basico</label>
			<input id='streets' type='radio' name='rtoggle' value='streets'>
			<label for='streets'>Ruas</label>
			<input id='bright' type='radio' name='rtoggle' value='bright'>
			<label for='bright'>Brilhante</label>
			<input id='light' type='radio' name='rtoggle' value='light'>
			<label for='light'>Claro</label>
			<input id='dark' type='radio' name='rtoggle' value='dark'>
			<label for='dark'>Escuro</label>
			<input id='satellite' type='radio' name='rtoggle' value='satellite'>
			<label for='satellite'>Satelite</label>
		</div>
		
		<br><br>

		<div class="input-group input-group-lg">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-lg">Pesquisar em {{ location }}</span>
			</div>
			<input type="text" class="form-control" id="pesquisa" onkeyup="filtro()">
		</div>

		<script>
			function filtro() 
			{
				$('.carta').show();
				var x = document.getElementById("pesquisa").value;
				$('.filtro').each(function()
				{
					if($(this).html().toLowerCase().indexOf(x.toLowerCase()) == -1)
					{
						$(this).closest('.carta').css("display","none")
					}
				})
			}
			
		</script>

		<br>
			{% for trend in trends %}
			
				<a href="{{ trend.url }}" target="blank">
					<button type="button" class="btn btn-light carta" style="margin:5px;">
					  <span class="filtro">{{ trend.name }}</span> <span class="badge badge-dark">{{ trend.tweet_volume }}</span>
					  <span class="sr-only">Trend do Twitter</span>
					</button>
				</a>
			{% endfor %}
	{% else %}
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Nenhuma tendencia associada a essa coordenada</h5>
				<p class="card-text">{{dict.as_of}}</p>
			</div>
		</div>
	{% endif %}
	
	<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoibGFtb3R0YSIsImEiOiJjam1hdnJlaTIwcnh1M3Bqb2JzZjc5cnhvIn0.w986x6WriEojUaBUGQtMig';

		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v9',
			center: [{{ long }}, {{ lat }}], //long , lat
			zoom: 11.15
		});
		
		// Add zoom and rotation controls to the map.
		map.addControl(new mapboxgl.NavigationControl());
		
		//Add options for style
		var layerList = document.getElementById('menu');
		var inputs = layerList.getElementsByTagName('input');

		function switchLayer(layer) {
			var layerId = layer.target.id;
			map.setStyle('mapbox://styles/mapbox/' + layerId + '-v9');
		}

		for (var i = 0; i < inputs.length; i++) {
			inputs[i].onclick = switchLayer;
		}

		// The 'building' layer in the mapbox-streets vector source contains building-height
		// data from OpenStreetMap.
		map.on('load', function() {
			// Insert the layer beneath any symbol layer.
			var layers = map.getStyle().layers;

			var labelLayerId;
			for (var i = 0; i < layers.length; i++) {
				if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
					labelLayerId = layers[i].id;
					break;
				}
			}

			map.addLayer({
				'id': '3d-buildings',
				'source': 'composite',
				'source-layer': 'building',
				'filter': ['==', 'extrude', 'true'],
				'type': 'fill-extrusion',
				'minzoom': 15,
				'paint': {
					'fill-extrusion-color': '#aaa',

					// use an 'interpolate' expression to add a smooth transition effect to the
					// buildings as the user zooms in
					'fill-extrusion-height': [
						"interpolate", ["linear"], ["zoom"],
						15, 0,
						15.05, ["get", "height"]
					],
					'fill-extrusion-base': [
						"interpolate", ["linear"], ["zoom"],
						15, 0,
						15.05, ["get", "min_height"]
					],
					'fill-extrusion-opacity': .6
				}
			}, labelLayerId);
		});
	</script>
	<script>
		/*var map;
		function initMap() 
		{
			var geocoder = new google.maps.Geocoder();

			map = new google.maps.Map(document.getElementById('map'), {center: {lat: 0, lng: 0}, zoom: 10, styles: [
			  {
				"elementType": "geometry",
				"stylers": [
				  {
					"color": "#1d2c4d"
				  }
				]
			  },
			  {
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#8ec3b9"
				  }
				]
			  },
			  {
				"elementType": "labels.text.stroke",
				"stylers": [
				  {
					"color": "#1a3646"
				  }
				]
			  },
			  {
				"featureType": "administrative.country",
				"elementType": "geometry.stroke",
				"stylers": [
				  {
					"color": "#4b6878"
				  }
				]
			  },
			  {
				"featureType": "administrative.land_parcel",
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#64779e"
				  }
				]
			  },
			  {
				"featureType": "administrative.neighborhood",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "administrative.province",
				"elementType": "geometry.stroke",
				"stylers": [
				  {
					"color": "#4b6878"
				  }
				]
			  },
			  {
				"featureType": "landscape.man_made",
				"elementType": "geometry.stroke",
				"stylers": [
				  {
					"color": "#334e87"
				  }
				]
			  },
			  {
				"featureType": "landscape.natural",
				"elementType": "geometry",
				"stylers": [
				  {
					"color": "#023e58"
				  }
				]
			  },
			  {
				"featureType": "poi",
				"elementType": "geometry",
				"stylers": [
				  {
					"color": "#283d6a"
				  }
				]
			  },
			  {
				"featureType": "poi",
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#6f9ba5"
				  }
				]
			  },
			  {
				"featureType": "poi",
				"elementType": "labels.text.stroke",
				"stylers": [
				  {
					"color": "#1d2c4d"
				  }
				]
			  },
			  {
				"featureType": "poi.business",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "poi.park",
				"elementType": "geometry.fill",
				"stylers": [
				  {
					"color": "#023e58"
				  }
				]
			  },
			  {
				"featureType": "poi.park",
				"elementType": "labels.text",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "poi.park",
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#3C7680"
				  }
				]
			  },
			  {
				"featureType": "road",
				"elementType": "geometry",
				"stylers": [
				  {
					"color": "#304a7d"
				  }
				]
			  },
			  {
				"featureType": "road",
				"elementType": "labels",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "road",
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#98a5be"
				  }
				]
			  },
			  {
				"featureType": "road",
				"elementType": "labels.text.stroke",
				"stylers": [
				  {
					"color": "#1d2c4d"
				  }
				]
			  },
			  {
				"featureType": "road.arterial",
				"elementType": "labels",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "road.highway",
				"elementType": "geometry",
				"stylers": [
				  {
					"color": "#2c6675"
				  }
				]
			  },
			  {
				"featureType": "road.highway",
				"elementType": "geometry.stroke",
				"stylers": [
				  {
					"color": "#255763"
				  }
				]
			  },
			  {
				"featureType": "road.highway",
				"elementType": "labels",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "road.highway",
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#b0d5ce"
				  }
				]
			  },
			  {
				"featureType": "road.highway",
				"elementType": "labels.text.stroke",
				"stylers": [
				  {
					"color": "#023e58"
				  }
				]
			  },
			  {
				"featureType": "road.local",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "transit",
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#98a5be"
				  }
				]
			  },
			  {
				"featureType": "transit",
				"elementType": "labels.text.stroke",
				"stylers": [
				  {
					"color": "#1d2c4d"
				  }
				]
			  },
			  {
				"featureType": "transit.line",
				"elementType": "geometry.fill",
				"stylers": [
				  {
					"color": "#283d6a"
				  }
				]
			  },
			  {
				"featureType": "transit.station",
				"elementType": "geometry",
				"stylers": [
				  {
					"color": "#3a4762"
				  }
				]
			  },
			  {
				"featureType": "water",
				"elementType": "geometry",
				"stylers": [
				  {
					"color": "#0e1626"
				  }
				]
			  },
			  {
				"featureType": "water",
				"elementType": "labels.text",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "water",
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#4e6d70"
				  }
				]
			  }
			]
		});

			geocoder.geocode({'address': "{{query}}"}, function(results, status) 
			{
				if (status === 'OK') 
				{
					map.setCenter(results[0].geometry.location);
				} else 
				{
					alert('Geolocalizacao falha, nenhuma localizacao identificada.\n\nERRO ' + status);
				}
			});
		}*/
	</script>
{% endblock %}