{% extends 'tcc/base.html' %}

{% block head %}
	{% for trend in trends %}<title>Trend de {{ dict.as_of }} | Shift</title>{% endfor %}
	<!-- Mapa do Google precisa ser interno -->
	<style>
	#map {
		height: 550px;
		width: 100%;
	}

	body
	{
		font-family: verdana;
		background-color: rgb(224,224,224, 255);
		/*rgb(59,50,81,255)*/
	}

	b
	{
		color: rgb(29,161,242,255);
	}

	img.profilepic
	{
  	border-radius: 50%;
	}

	font.arroba,a:link.arroba,a:visited.arroba
	{
		color: grey;
	}
	
	#map {
		height: 350px;
		width: 100%;
	}
	</style>
{% endblock %}

{% block body %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'tcc:search' %}">Pesquisa</a></li>
			<li class="breadcrumb-item"><a href="{% url 'tcc:collect_multiple_trends' %}">Trends</a></li>
			<li class="breadcrumb-item active" aria-current="page">Trend - {{ query }}</li>
		</ol>
	</nav>
	{% if trends %}
		<div id="map"></div>
		<br>
			{% for trend in trends %}
			
				<a href="{{ trend.url }}" target="blank">
					<button type="button" class="btn btn-light" style="margin:5px;">
					  {{ trend.name }} <span class="badge badge-dark">{{ trend.tweet_volume }}</span>
					  <span class="sr-only">Trend do Twitter</span>
					</button>
				</a>

				<!--<div class="col-sm">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ trend.url }}" target="blank">
								<button type="button" class="btn btn-light">
								  {{ trend.name }} <span class="badge badge-dark">{{ trend.tweet_volume }}</span>
								  <span class="sr-only">Trend do Twitter</span>
								</button>
							</a>
							</h5>
							<p class="card-text">Query: {{ trend.query }}</p>
							<p class="card-text">Promocao: {{ trend.promoted_content }}</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">{{ dict.as_of }}</small>
						</div>
					</div>
				</div>-->
			{% endfor %}
	{% else %}
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Nenhuma tendencia associada a essa coordenada</h5>
				<p class="card-text">{{dict.as_of}}</p>
			</div>
		</div>
	{% endif %}
	<script>
		var map;
		function initMap() 
		{
			var geocoder = new google.maps.Geocoder();

			map = new google.maps.Map(document.getElementById('map'), {center: {lat: 0, lng: 0}, zoom: 10, styles: [
			  {
				"elementType": "geometry",
				"stylers": [
				  {
					"color": "#1d2c4d"
				  }
				]
			  },
			  {
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#8ec3b9"
				  }
				]
			  },
			  {
				"elementType": "labels.text.stroke",
				"stylers": [
				  {
					"color": "#1a3646"
				  }
				]
			  },
			  {
				"featureType": "administrative.country",
				"elementType": "geometry.stroke",
				"stylers": [
				  {
					"color": "#4b6878"
				  }
				]
			  },
			  {
				"featureType": "administrative.land_parcel",
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#64779e"
				  }
				]
			  },
			  {
				"featureType": "administrative.neighborhood",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "administrative.province",
				"elementType": "geometry.stroke",
				"stylers": [
				  {
					"color": "#4b6878"
				  }
				]
			  },
			  {
				"featureType": "landscape.man_made",
				"elementType": "geometry.stroke",
				"stylers": [
				  {
					"color": "#334e87"
				  }
				]
			  },
			  {
				"featureType": "landscape.natural",
				"elementType": "geometry",
				"stylers": [
				  {
					"color": "#023e58"
				  }
				]
			  },
			  {
				"featureType": "poi",
				"elementType": "geometry",
				"stylers": [
				  {
					"color": "#283d6a"
				  }
				]
			  },
			  {
				"featureType": "poi",
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#6f9ba5"
				  }
				]
			  },
			  {
				"featureType": "poi",
				"elementType": "labels.text.stroke",
				"stylers": [
				  {
					"color": "#1d2c4d"
				  }
				]
			  },
			  {
				"featureType": "poi.business",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "poi.park",
				"elementType": "geometry.fill",
				"stylers": [
				  {
					"color": "#023e58"
				  }
				]
			  },
			  {
				"featureType": "poi.park",
				"elementType": "labels.text",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "poi.park",
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#3C7680"
				  }
				]
			  },
			  {
				"featureType": "road",
				"elementType": "geometry",
				"stylers": [
				  {
					"color": "#304a7d"
				  }
				]
			  },
			  {
				"featureType": "road",
				"elementType": "labels",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "road",
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#98a5be"
				  }
				]
			  },
			  {
				"featureType": "road",
				"elementType": "labels.text.stroke",
				"stylers": [
				  {
					"color": "#1d2c4d"
				  }
				]
			  },
			  {
				"featureType": "road.arterial",
				"elementType": "labels",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "road.highway",
				"elementType": "geometry",
				"stylers": [
				  {
					"color": "#2c6675"
				  }
				]
			  },
			  {
				"featureType": "road.highway",
				"elementType": "geometry.stroke",
				"stylers": [
				  {
					"color": "#255763"
				  }
				]
			  },
			  {
				"featureType": "road.highway",
				"elementType": "labels",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "road.highway",
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#b0d5ce"
				  }
				]
			  },
			  {
				"featureType": "road.highway",
				"elementType": "labels.text.stroke",
				"stylers": [
				  {
					"color": "#023e58"
				  }
				]
			  },
			  {
				"featureType": "road.local",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "transit",
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#98a5be"
				  }
				]
			  },
			  {
				"featureType": "transit",
				"elementType": "labels.text.stroke",
				"stylers": [
				  {
					"color": "#1d2c4d"
				  }
				]
			  },
			  {
				"featureType": "transit.line",
				"elementType": "geometry.fill",
				"stylers": [
				  {
					"color": "#283d6a"
				  }
				]
			  },
			  {
				"featureType": "transit.station",
				"elementType": "geometry",
				"stylers": [
				  {
					"color": "#3a4762"
				  }
				]
			  },
			  {
				"featureType": "water",
				"elementType": "geometry",
				"stylers": [
				  {
					"color": "#0e1626"
				  }
				]
			  },
			  {
				"featureType": "water",
				"elementType": "labels.text",
				"stylers": [
				  {
					"visibility": "off"
				  }
				]
			  },
			  {
				"featureType": "water",
				"elementType": "labels.text.fill",
				"stylers": [
				  {
					"color": "#4e6d70"
				  }
				]
			  }
			]
		});

			geocoder.geocode({'address': "{{query}}"}, function(results, status) 
			{
				if (status === 'OK') 
				{
					map.setCenter(results[0].geometry.location);
				} else 
				{
					alert('Geolocalizacao falha, nenhuma localizacao identificada.\n\nERRO ' + status);
				}
			});
		}
	</script>
{% endblock %}